<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="bipedal_robot">

    <xacro:include filename="include.xacro" />

    <link name="world"></link>

    <joint name="base_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="world"/>
        <child link="base_link"/>        
    </joint>

    <link name="base_link">
        <visual>
            <origin xyz="0 0 0.5" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.5" length="1.0"/>
            </geometry>
            <material name="green">
                <color rgba="0.2 1 0.2 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.5" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.5" length="1.0"/>
            </geometry>
        </collision>
        <xacro:inertial_cylinder mass="0.5" length="1.0" radius="0.5">
            <origin xyz="0 0 0.5" rpy="0 0 0"/>
        </xacro:inertial_cylinder>
    </link>

    <joint name="rotating_joint" type="revolute">
        <origin xyz="0 0 1" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="cube_link"/>
        <axis xyz="0 0 1"/>
        <limit lower="-1.5708" upper="1.5708" velocity="100" effort="100"/> 
    </joint>

    <link name="cube_link">
        <visual>
            <origin xyz="0 0 0.15" rpy="0 0 0"/>
            <geometry>
                <box size="0.3 0.3 0.3" />
            </geometry>
            <material name="blue" />
        </visual>
        <collision>
            <origin xyz="0 0 0.15" rpy="0 0 0"/>
            <geometry>
                <box size="0.3 0.3 0.3" />
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.5" x="0.3" y="0.3" z="0.3">
            <origin xyz="0 0 0.15" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>

    <!-- <xacro:include filename="test_servo_gazebo.xacro" /> -->
    <xacro:include filename="test_servo_ros2_control.xacro" />

</robot>
