<?xml version="1.0"?>
<robot name="simple_robot">

	<!-- Link definitions -->
	<link name="base_link">
		<visual>
			<geometry>
				<cylinder radius="0.5" length="1.0"/>
			</geometry>
			<material name="blue">
				<color rgba="0 0 1 1"/>
			</material>
		</visual>
	</link>

	<link name="rotating_cube">
		<visual>
			<geometry>
				<box size="0.3 0.3 0.3"/>
			</geometry>
			<material name="red">
				<color rgba="1 0 0 1"/>
			</material>
		</visual>
	</link>

	<!-- Joint definitions -->
	<!-- Revolute joint for the cube to rotate on top of the cylinder -->
	<joint name="rotating_joint" type="revolute">
		<parent link="base_link"/>
		<child link="rotating_cube"/>
		<origin xyz="0 0 0.65" rpy="0 0 0"/>
		<axis xyz="0 0 1"/>
		<limit lower="-1.5708" upper="1.5708" effort="0" velocity="0"/>
	</joint>

</robot>

